## Тема “Обучение с учителем”

### Задание 1

In [2]:
import pandas as pd
import numpy as np

In [3]:
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [4]:
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [5]:
data = boston["data"]

In [6]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [7]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
target = boston["target"]

target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [9]:
y = pd.DataFrame(target, columns=["price"])

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [11]:
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression()

In [12]:
y_pred = lr.predict(X_test)

In [13]:
r2_score(y_test, y_pred)

0.7042943287927468

### Задание 2

In [14]:
from sklearn.ensemble import RandomForestRegressor

In [15]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [16]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [26]:
y_pred = model.predict(X_test)

In [30]:
r2_score(y_test, y_pred)

0.8806469989218675

Вывод: в данном случае лучше работает модель Random Forest.

### Задание 3

In [76]:
RandomForestRegressor

sklearn.ensemble._forest.RandomForestRegressor

In [77]:
imp = pd.Series(model.feature_importances_, index=feature_names)
imp

CRIM       0.028383
ZN         0.001395
INDUS      0.004778
CHAS       0.001097
NOX        0.023476
RM         0.445799
AGE        0.017539
DIS        0.053931
RAD        0.003914
TAX        0.018740
PTRATIO    0.012429
B          0.015413
LSTAT      0.373107
dtype: float64

In [78]:
sum(imp)

0.9999999999999999

In [79]:
imp.nlargest(2)

RM       0.445799
LSTAT    0.373107
dtype: float64